# Python, Node.js and general
_build
venv/
__pycache__
node_modules/
*.DS_Store
Thumbs.db
*.swp
~*
*~
package-lock.json

# Altium Designer 
History/
Schematics/__Previews
__Previews
*.$$$
*.PrjPcb.Zip
#*.log
